# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
db.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# IDE settings
.vscode/
.idea/

# Virtual environments
venv/
env/